@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16;

  /* Runtime Variables Mapping */
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  --color-border: var(--color-border);

  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  :root {
    /* Light Mode: (looks bad, gotta change later) */
    --color-background: #ffffff;
    --color-surface: #f0fdf4;
    /* Minty White (Primary-50) */
    --color-text-main: #14532d;
    /* Primary-900 (Deep Green text) */
    --color-text-muted: #15803d;
    /* Primary-700 */
    --color-border: #bbf7d0;
    /* Primary-200 */
  }

  .dark {
    /* Dark Mode: Deep Slate/Green */
    --color-background: #020617;
    --color-surface: #0f172a;
    --color-text-main: #f8fafc;
    --color-text-muted: #94a3b8;
    --color-border: #1e293b;
  }

  html,
  body {
    font-family: var(--font-sans);
    @apply antialiased scroll-smooth text-[16px];
    background-color: var(--color-background);
    color: var(--color-text-main);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}